*
{
	margin: 0px;
	padding: 0px;
}

body
{
	background: url('https://media.istockphoto.com/photos/technology-network-picture-id1037573870?k=20&m=1037573870&s=170667a&w=0&h=UOodtsGdzflMNg940thTOU-OfWsjK-QV7bTpYoMMzpo=') no-repeat fixed;
	background-size: cover;
	color: white;
}

.graph
{
	background-color: #5089B0;
	padding: 30px;
}

#viz1642676474282
{
	width: 50%;
	height: 50%;
	margin:0px auto;
	border:10px solid black;
}

.header
{
	height: 70px;
	background-color: #333;
	padding: 15px;

}
.menubtns
{
	display: flex;
	justify-content: space-evenly;
}

.pushable {
	margin: 10px;
	margin-top: 20px;
  background: black;
  border: none;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #5089B0;
  color: white;
  font-weight: bold;
  transform: translateY(-6px);
  text-shadow: 5px 5px 10px red;
}

.pushable:active .front {
  transform: translateY(-2px);
}

#backtotop
{
	background:black;
}


.heading2
{
  text-align: center;
  background-color: black;
  padding: 30px;
  height: 50px;
  text-shadow: 5px 5px 10px red;
}

.parallax
{
	min-height: 325px;
}

.check_const
{
	padding: 20px;
	background-color: #5089B0;
}

.check_const h2
{
	margin-bottom: 20px;
	padding-left: 8vw;
	text-shadow: 5px 5px 10px red;
}
.const
{
	font-size: 28px;
	font-weight: bold;
}

input
{
	font-size: 20px;
	text-align: center;
	border: 0px;
	padding: 10px;
	border-radius: 20px;
	font-weight: bold;
	margin: 10px 10px;
	color: black;
}

span
{
	margin-left: 27vw;
}

input[type='button']
{
	width: 100px;
	margin-left: 20vw;
}

@media(min-width: 500px) and (max-width: 802px)
{
	.const
	{
		font-size: 22px;
	}
	input
	{
		font-size: 18px;
	}
	span
	{
		margin-left: 15vw;
	}
}
@media(max-width: 500px)
{
	span
	{
		margin-left: 8vw;
	}
	input
	{
		font-size: 17px;
	}
}